.field-root {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(var(--n), 1fr);
  grid-template-rows: repeat(var(--n), 1fr);
  height: calc(var(--n) * 60px + 1px);
  width: calc(var(--n) * 60px + 1px);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin: 3em auto;
}

.field-cell {
  position: relative;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color);
}

.field-cell::before {
  content: '';
  position: absolute;
  height: 10%;
  width: var(--hp-percent);
  top: 0;
  left: 0;
  background: green;
}

.game-soldier-icon {
  width: 60%;
  height: 60%;
  transform: translate(8%, 5%)
}

.game-soldier-icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.game-paused .game-btn-pause {
  display: none;
}

.game-playing .game-btn-play {
  display: none;
}
